/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Garante que o corpo ocupe toda a altura da tela */
body {
  min-height: 100vh; /* Corpo ocupa toda a altura */
  display: flex; /* Flexbox para ajustar o layout */
  flex-direction: column; /* Alinha o conteúdo em coluna */
  justify-content: space-between; /* Distribui o conteúdo, empurrando o rodapé para o fim */
}

#app {
  width: 100%; /* Ocupa toda a largura */
  height: 100vh; /* Ocupa toda a altura da tela */
  padding: 2rem; /* Padding interno */
  display: flex;
  flex-direction: column; /* Organiza os itens de forma vertical */
  justify-content: space-between; /* Garante que o conteúdo seja distribuído de forma adequada */
  font-weight: normal;
}

/* Estilos para links */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* Efeito hover em links */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Responsividade para telas grandes */
@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column; /* Continuar com a direção de coluna, para não mudar a estrutura */
    padding: 2rem;
    width: 100%; /* Garantir que ocupe toda a largura */
    height: 100vh; /* Garantir que ocupe toda a altura */
  }

  .layout {
    display: flex;
    flex-direction: column; /* Garantir que a estrutura fique em coluna */
    min-height: 100vh;
  }

  .main-content {
    flex: 1; /* Certifica-se de que o conteúdo vai ocupar o restante do espaço disponível */
    padding: 2rem;
    width: 100%;
    background-color: #ffffff;
  }

  /* Rodapé e Navbar */
  .footer,
  .navbar {
    width: 100%; /* Garantir que ocupe toda a largura da tela */
  }

  .navbar {
    padding: 1.5rem 2rem;
  }
}
