@import './base.css';

/* Garante que o app ocupe toda a largura e altura da tela */
#app {
  width: 100%; /* Ocupa toda a largura da tela */
  height: 100vh; /* Ocupa toda a altura da tela */
  padding: 2rem; /* Espaçamento interno */
  font-weight: normal;
  display: flex;
  flex-direction: column; /* Alinha o conteúdo em coluna */
  justify-content: space-between; /* Garante que o conteúdo se distribua */
}

/* Estilo de links e botões */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* Efeito de hover nos links */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Garantir que o corpo ocupe toda a altura e largura da tela */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  justify-content: space-between; /* Empurra o conteúdo para as extremidades */
}
